.myNavbar {
    background-color: rgba(0, 152, 155) !important;
}

.first-section-style {
    height: 50vh;
    background-color: rgba(0, 94, 120);
}

.sec-section-style {
    height: 50vh;
    background-color: rgba(0, 94, 120);
}



/* $turqise: rgba(0, 152, 155, 1); // rgb(148, 83, 166)
$myDarkBlue: rgba(0, 94, 120, 1); */