* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.myNavbar {
    background: linear-gradient(90deg, #9096e6, #2ab0d6) !important;
    border-bottom: 1px solid !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: .7;
}


.first-div-style {

    background-color: #f5f5f5;
    /* or #d1e5f0 or #fad0c4 */
    display: flex;

}


ul>img {
    width: 3.5rem;
    object-fit: 100%;
    margin: 0 auto;

}

.main-tech-list {
    background: linear-gradient(90deg, #c2bff5, #a2a1e8, #2ab0d6);
    border: solid 0.5px;
    box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.1);
}


img {
    width: 11rem;
}

.project-header:hover {
    cursor: pointer;
    color: rgb(126, 134, 102);
}

textarea {
    height: 10rem !important;
}

footer {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}


address {
    height: 4rem;
    margin: 0;
}





@media screen and (max-width: 992px) {
    .contact-div-photo {
        display: none !important;
    }

    /* form {
        width: 100%;
    } */
}




/* $turqise: rgba(0, 152, 155, 1); // rgb(148, 83, 166)
$myDarkBlue: rgba(0, 94, 120, 1); */